    <mat-toolbar fxLayout.xs="column">
        <span>Usuarios</span> 
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/protected/mantenimiento/registro-usuario">
            <mat-icon>person_add</mat-icon>
            Agregar 
        </button>
    </mat-toolbar>

    <div *ngIf="listUsuarios.length > 0" style="margin-top: 30px;">
        <mat-form-field>
            <mat-label> <mat-icon>search</mat-icon> Buscar usuario</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Juan Perez" #input autocomplete="off">
        </mat-form-field>      

        <div class="mat-elevation-z8" >
            <mat-table  [dataSource]="dataSource" matSort > 
                <!-- Documento Identidad -->
                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Documento Identidad </mat-header-cell>
                    <mat-cell *matCellDef="let element" > 
                        <span class="mobile-label"> Documento Identidad: </span>
                        {{element.documento}} 
                    </mat-cell>
                </ng-container>
            
                <!-- Nombres -->
                <ng-container matColumnDef="nombres">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Nombres: </span>
                        {{element.nombres}} 
                    </mat-cell>
                </ng-container>
            
                <!-- Apellido Paterno -->
                <ng-container matColumnDef="apellidoPaterno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Apellido Paterno: </span>
                        {{element.apellidoPaterno}} 
                    </mat-cell>
                </ng-container>
            
                <!-- Apellido Materno -->
                <ng-container matColumnDef="apellidoMaterno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Apellido Materno: </span>
                        {{element.apellidoMaterno}} 
                    </mat-cell>
                </ng-container>
    
                <!-- Email -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Email: </span>
                        {{element.email}} 
                    </mat-cell>
                </ng-container>
    
                <!-- Tipo Usuario -->
                <ng-container matColumnDef="tipoUsuario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Usuario </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Tipo Usuario: </span>
                        {{element.tipoUsuario}} 
                    </mat-cell>
                </ng-container>
    
                <!-- Sucursal -->
                <ng-container matColumnDef="sucursal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span class="mobile-label"> Sucursal: </span>
                        {{element.sucursal}} 
                    </mat-cell>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" > 
                        <span class="mobile-label"> Acciones: </span>
                        <a class="pointer"  style="color: #1f516f;" matTooltip="Editar usuario">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarUsuario(i)" style="color: #e15639;" matTooltip="Eliminar usuario">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
    <h2 *ngIf="listUsuarios.length == 0">No hay usuarios para mostrar</h2>
