<div class="content-body"  >
    <mat-card>
      <div class="body">
          <div class="login">
            <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
            <form *ngIf="!loading" [formGroup]="miFormulario" (ngSubmit)="login()">
              <img src="./assets/img/usuario.png" width="50%">
              <h1>Login</h1>
              <mat-form-field class="ancho" >
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="usuario">
              </mat-form-field>

              <mat-form-field class="ancho" >
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password" >
              </mat-form-field>

              <br>
              <button type="submit"  class="ancho button" mat-raised-button color="primary" [disabled]="miFormulario.invalid">Ingresar</button>
            </form>
          </div>
      </div>
    </mat-card>
  </div>
  
  