<mat-toolbar fxLayout.xs="column">
    <span>Sucursales</span> 
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/protected/mantenimiento/registro-sucursal">
        <mat-icon>add_business</mat-icon>
        Agregar 
    </button>
</mat-toolbar>

<div *ngIf="listSucursal.length > 0" style="margin-top: 30px;">
    <mat-form-field>
        <mat-label> <mat-icon>search</mat-icon> Buscar sucursal</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. tienda 1" #input autocomplete="off">
    </mat-form-field>      

    <div class="mat-elevation-z8" >
        <mat-table  [dataSource]="dataSource" matSort > 
            <!-- Codigo sucursal -->
            <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código Sucursal </mat-header-cell>
                <mat-cell *matCellDef="let element" > 
                    <span class="mobile-label"> Código sucursal: </span>
                    {{element.codigo}} 
                </mat-cell>
            </ng-container>
        
            <!-- Nombre -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label"> Nombre: </span>
                    {{element.nombre}} 
                </mat-cell>
            </ng-container>
        
            <!-- Direccion -->
            <ng-container matColumnDef="direccion">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label"> Dirección: </span>
                    {{element.direccion}} 
                </mat-cell>
            </ng-container>

            <!-- Direccion 
            <ng-container matColumnDef="serie">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Serie de Venta </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <span class="mobile-label"> Serie de Venta: </span>
                    {{element.serie}} 
                </mat-cell>
            </ng-container>
            -->
            <!-- Acciones -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index" > 
                    <span class="mobile-label"> Acciones: </span>
                    <a class="pointer"  style="color: #1f516f;" matTooltip="Editar sucursal">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)="eliminarSucursal(i)" style="color: #e15639;" matTooltip="Eliminar sucursal">
                        <mat-icon>delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
<h2 *ngIf="listSucursal.length == 0">No hay sucursal para mostrar</h2>
